body
{
    background-color: #00FFCC;
}

.toppage{
  height: 100px;
  background-color:white;
 
}

.category-card {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.left-corner
{
    float: left;
    width:100px;
    height:100px;
}
.right-corner
{
    float: right;
    margin: 10px;
    height:90px;
    padding: 10px 10px ;
    
}
a
{
    text-decoration: none;
}

.middle_page
{
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 100px;
    margin-right: 0px !important;
}
.column
{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    
}

img{
  height: 250px;
  width:350px;
}
h2{
  align-content: center;
  text-transform: capitalize;
}
h5 {
  text-transform: capitalize;
}
button:hover{
  background-color: #68EED3;
}
div.column {
  
  height: 400px;
  width: 400px;
  background-color: white; 
  text-align: center;
  padding: 10px 10px;
  margin: 15px ; 
  font-family: Courier New;
}

div.column:hover{
  height: 450px;
  width: 450px;
  background-color: black;
  color:white; 
  text-align: center;
  padding: 10px 10px;
  margin: 15px ; 
}

.right-corner button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: cursor;
}

.right-corner button#home
{
background-color:#12BAEE;
}

.right-corner button#cart
{
background-color:#4AB205;
}

.right-corner button#logout
{
background-color:#009900;
}

.right-corner button:hover{
  color: white;
  background-color: black;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  font-family: Courier New;
}

.names {
  cursor: pointer;
}